services:
  api: #imageÂêç
    container_name: fpb-wwwexp
    build:
      context: .
      dockerfile: Dockerfile
    volumes:
      - .:/api
      - api_node_modules:/api/node_modules
    command: sh -c "yarn server"
    ports:
      - "3000:3000"
    stdin_open: true
  
volumes:
  api_node_modules:
