services:
  api: #imageÂêç
    container_name: fpb-wwwexp
    build:
      context: .
      dockerfile: Dockerfile
    volumes:
      - .:/api
      - api_node_modules:/api/node_modules
    command: sh -c "yarn dev"
    ports:
      - "8003:3003"
    stdin_open: true
  
volumes:
  api_node_modules:
